<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77666331389-srtn9p3a6iq41hs5tv8lbcv97al01cqu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77666331389-srtn9p3a6iq41hs5tv8lbcv97al01cqu</string>
	<key>API_KEY</key>
	<string>AIzaSyD0m-0Zt_Uz5yA6AmBQm-fGoJyOO58nH6A</string>
	<key>GCM_SENDER_ID</key>
	<string>77666331389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hijrahJourney</string>
	<key>PROJECT_ID</key>
	<string>hijrah-journey</string>
	<key>STORAGE_BUCKET</key>
	<string>hijrah-journey.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77666331389:ios:0771c473b8cfddce00ec94</string>
</dict>
</plist>